<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../../assets/images/20944386-removebg.png" class="d-block mx-2xl-auto img-fluid" alt="Explore Courses" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="text-color-heading display-5 fw-bold lh-1 mb-3">Explore Courses.</h1>
        <p class="lead text-white">
          Master your skills with our top-rated courses. From front-end development to full-stack expertise, our diverse range of courses ensures that you'll find the perfect fit for your career goals. Learn at your pace with our comprehensive tutorials and real-world projects.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn button-heading1 btn-lg px-4 me-md-2">Get To Courses</button>
          <button type="button" class="btn button-heading2 btn-lg px-4">See All Courses</button>
        </div>
      </div>
    </div>
  </div>