<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Explore Our Courses</h1>
      <div class="col-lg-8 mx-auto">
        <p class="fs-5 mb-4">Discover a variety of courses designed to enhance your skills and advance your career. From programming to data science, find the perfect course to suit your learning needs.</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search for a course..." aria-label="Search for a course" aria-describedby="search-button" style="border-color: #FF4500;" #searchVar>
          <button class="btn btn-outline-info btn-lg px-4 fw-bold" type="button" id="search-button" style="background-color: #FF4500; color: white; border-color: #FF4500;" (click)="SearchCourse(searchVar.value)">Search</button>
        </div>
      </div>
    </div>
  </div>
  